footer{
    display: flex;
    justify-content: center;

    position: sticky;
    top: 93%;

    word-spacing: 2px;
    letter-spacing: 1px;
    margin-bottom: 20px;

    img{
        width: 250px;
    }
    font-size: 11px;

    a{
        text-decoration: none;
    }
}