footer {
    display: flex;
    justify-content: center;

    position: sticky;
    top: 93%;

    word-spacing: 2px;
    letter-spacing: 1px;
    margin-bottom: 20px;

    h3 {
        text-align: center;
        margin-bottom: 7px;
        font-weight: 400;
    }

    .content {
        display: flex;
        flex-direction: column;

        img {
            width: 120px;
        }

        font-size: 11px;

        a {
            text-decoration: none;
            width: 100%;
            align-items: center;
        }
    }
}