<div class="page">

    <!-- Header -->
    <div class="header">
        <div class="back" (click)="goBack()"> <img src="icons/left-arrow.svg" alt=""> </div>
        <div>
            <h1>EEMA South Factor 2026</h1>
            <p>24 Mar, 2026 - 09:00 AM - 26 Mar, 2026 - 12:00 PM | Pragati Resorts</p>
        </div>
    </div>

    <div class="content">

        <div class="left">
            <div class="room-tabs">
                <div class="room" [class.active]="activeRoomType() === 'single'" (click)="activeRoomType.set('single'); filteredForms()">
                    Single Occupancy {{ booking.singleRooms() }} </div>
                <div class="room" [class.active]="activeRoomType() === 'double'" (click)="activeRoomType.set('double'); filteredForms()">
                    Double Occupancy {{ booking.doubleRooms() }} </div>
                <div class="room" [class.active]="activeRoomType() === 'triple'" (click)="activeRoomType.set('triple'); filteredForms()">
                    Triple Occupancy {{ booking.tripleRooms() }} </div>
            </div>


            <br>
            <h2>EEMA Members</h2>

            <div class="accordion">

                @for (form of filteredForms(); track form.get('id')?.value) {
                <div class="panel">

                    <!-- HEADER -->
                    <div class="panel-header" (click)="open($index)">
                        <div>
                            <strong>Attendee {{ $index + 1 }}</strong>
                            <span class="status" [class.done]="isCompleted($index)">
                                {{ isCompleted($index) ? '✔ Completed' : 'Incomplete' }}
                            </span>
                        </div>

                        @if (isCompleted($index) && !isOpen($index)) {
                        <button type="button" class="edit-btn" (click)="open($index); $event.stopPropagation()">
                            Edit
                        </button>
                        }
                    </div>

                    <!-- SUMMARY -->
                    @if (isCompleted($index) && !isOpen($index)) {
                    <div class="summary">
                        {{ form.value.firstName }} {{ form.value.lastName }} |
                        {{ form.value.country }}
                    </div>
                    }

                    <!-- FORM -->
                    @if (isOpen($index)) {
                    <form [formGroup]="form" class="form">
                        <!-- <label for="first-name{{$index}}">First Name<span>*</span></label> -->
                        <input id="first-name{{$index}}" placeholder="First Name*" formControlName="firstName">

                        <!-- <label for="last-name{{$index}}">Last Name<span>*</span></label> -->
                        <input id="last-name{{$index}}" placeholder="Last Name*" formControlName="lastName">

                        <!-- <label for="Organisation{{$index}}">Organisation<span>*</span></label> -->
                        <input id="Organisation{{$index}}" placeholder="Organisation*" formControlName="organisation">

                        <!-- <label for="email{{$index}}">Email<span>*</span></label> -->
                        <input id="email{{$index}}" placeholder="Email*" formControlName="email">

                        <!-- <label for="phone{{$index}}">Phone<span>*</span></label> -->
                        <input id="phone{{$index}}" placeholder="Phone" formControlName="phone">

                        <!-- <label for="Country{{$index}}">Country<span>*</span></label> -->
                        <input id="Country{{$index}}" placeholder="Country*" formControlName="country">

                        <!-- <label for="state{{$index}}">State<span>*</span></label> -->
                        <input id="state{{$index}}" placeholder="state*" formControlName="state">

                        <!-- <label for="city{{$index}}">City<span>*</span></label> -->
                        <input id="city{{$index}}" placeholder="city*" formControlName="city">

                        <!-- <label for="gst{{$index}}">GST<span>*</span></label> -->
                        <input id="gst{{$index}}" placeholder="gst" formControlName="gst">
                        <button type="button" class="next-btn" [disabled]="form.invalid" (click)="next($index)">
                            Next
                        </button>
                    </form>
                    }

                </div>
                }

                @if (this.allValid() && this.allCollapsed()) {
                <button class="submit-btn" (click)="submit()">
                    Checkout
                </button>
                }

            </div>


        </div>

        <div class="right">
            <div class="summary-card">
                <h3>Order Summary</h3>

                <div class="row">
                    <span>EEMA Members</span>
                    <span>{{ booking.totalPrice() | currency : "INR" }}</span>
                </div>

                <div class="sub-row">
                    <span>{{ booking.totalAttendees() }} Qty</span>
                    <a href="#">Delete</a>
                </div>

                <div class="divider"></div>

                <div class="row total">
                    <span>Total</span>
                    <span>{{ booking.totalPrice() | currency : "INR" }}</span>
                </div>

                <small class="tax-note">*Excludes Tax</small>

            </div>
        </div>

    </div>
</div>