<div class="dashboard">

    <!-- Stats Cards -->
    <div class="stats-grid">
        <div class="card primary">
            <div class="card-content">
                <h3>Rooms Remaining</h3>
                <p class="big-number">{{ totalRooms() - usedRooms() }} / {{ totalRooms() }}</p>
            </div>
        </div>

        <div class="card success">
            <div class="card-content">
                <h3>Total Registered Guests</h3>
                <p class="big-number"> {{ registeredUserCount() }} </p>
            </div>
        </div>

        <div class="card warning">
            <div class="card-content">
                <h3>Confirmed Bookings</h3>
                <p class="big-number"> {{ usedRooms() }} </p>
            </div>
        </div>

        <div class="card danger">
            <div class="card-content">
                <h3>Collected Amount</h3>
                <p class="big-number"> {{ collectedAmount() | currency : 'INR' }} </p>
            </div>
        </div>
    </div>

    <!-- Room Progress -->
    <div class="progress-section">
        <h2>Room Occupancy</h2>
        <div class="progress-bar">
            <div class="progress-fill" [style.width.%]="percentage()"></div>
        </div>
        <p>{{percentage()}}% Rooms Filled</p>
    </div>

    <!-- Rooms List -->
    <div class="dashboard-container">

        <!-- LEFT SIDE -->
        <div class="left-panel">

            <div class="filter-card">
                <mat-form-field appearance="outline">
                    <mat-label>Filter By Booking ID</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. SF26000010" #input>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Filter By Guest</mat-label>
                    <input matInput (keyup)="filterByGuestName($event)" placeholder="Ex. Madan" #input>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Filter by Room Type</mat-label>
                    <mat-select (selectionChange)="filterByType($event.value)">
                        <mat-option value="">All</mat-option>
                        <mat-option value="single">Single</mat-option>
                        <mat-option value="double">Double</mat-option>
                        <mat-option value="triple">Triple</mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="downloadBtn" (click)="exportToExcel()">Download Excel</button>
            </div>

            <mat-card>
                <table mat-table [dataSource]="dataSource" matSort #TABLE>

                    <ng-container matColumnDef="roomNo">
                        <th mat-header-cell *matHeaderCellDef> Ref. No. </th>
                        <td mat-cell *matCellDef="let row let i = index" (click)="selectRoom(row)"
                            [class.active-row]="selectedRoom()?._id === row._id">
                            {{ row.bulkRefId }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Room Type </th>
                        <td mat-cell *matCellDef="let row" (click)="selectRoom(row)"> {{row?.roomType+" Occupancy" |
                            titlecase }} </td>
                    </ng-container>

                    <ng-container matColumnDef="payment">
                        <th mat-header-cell *matHeaderCellDef> Payment </th>
                        <td mat-cell *matCellDef="let row" (click)="selectRoom(row)">
                            <p style="margin-bottom: 2px;"> {{ row?.payment?.paymentAmount | currency : 'INR'}} </p>
                            <span class="status" [class.available]="row.payment">
                                {{ row.payment ? 'Captured' : 'Failed' }}
                            </span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="checks">
                        <th mat-header-cell *matHeaderCellDef> Check In / Check Out </th>
                        <td mat-cell *matCellDef="let row" (click)="selectRoom(row)">
                            <p style="border-bottom: 1px double rgb(127, 127, 127);">CheckIn : {{ row?.checkIn |
                                date:'dd MMM yyyy' }}</p>
                            <p>CheckOut : {{ row?.checkOut | date:'dd MMM yyyy' }}</p>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="primary_guest">
                        <th mat-header-cell *matHeaderCellDef> Primary Guest </th>
                        <td mat-cell *matCellDef="let row" (click)="selectRoom(row)">
                            @for (user of row.attendees; track user._id) {
                            @if(user.is_primary_user){
                            <div>
                                <p> Name : {{ user.firstName +" "+ user.lastName | titlecase }} </p>
                                <p> Company Name : {{ user.company?.name }} </p>
                                <p> Email : {{ user.email }} </p>
                                <p> Contact : {{ user.phone }} </p>
                            </div>
                            }
                            }
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef> Booked On </th>
                        <td mat-cell *matCellDef="let row" (click)="selectRoom(row)">
                            {{ row?.createdAt | date:'dd MMM yyyy, hh:mm a' }}
                        </td>
                    </ng-container>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                            <div class="empty-state">
                                <mat-icon>hotel</mat-icon>
                                <p>No rooms available for selected filter</p>
                            </div>
                        </td>
                    </tr>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
            </mat-card>

        </div>


        <!-- RIGHT SIDE -->
        <!-- @if (selectedRoom()) {

        <div class="right-panel">
            <mat-card>
                <h2>Room Details</h2>
                <mat-divider></mat-divider>
                
                <div class="detail-item">
                    <label>Reference No:</label>
                    <span>{{selectedRoom().bulkRefId}}</span>
                </div>
                <div class="detail-item">
                    <label>Type:</label>
                    <span>{{selectedRoom().roomType | titlecase}} Occupancy</span>
                </div>
                <div class="dateTime">
                    <label>Times</label>
                    <div>
                        <div>Check In : {{selectedRoom().checkIn | date:'dd MMM yyyy' }}</div>
                        <div>Check Out : {{selectedRoom().checkOut | date:'dd MMM yyyy' }}</div>
                    </div>
                </div>

                {{ selectedRoom().payment.amount }}
                {{ selectedRoom().payment.payment_id }}

            </mat-card>
        </div>
        } -->


    </div>


</div>